* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  /* border: 2px red solid; */
}

html {
  scroll-behavior: smooth;
}

header {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #071129;
  min-height: auto;
}

.logo-img img {
  height: 60px;
  width: auto;
  background-image: url(../multimedia/WMS.jpg);
  background-size: cover;
}

nav {
  display: flex;
  padding: 2% 3%;
  justify-content: space-between;
  align-items: center;
}
nav li {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
}

main.container-fluid {
  padding: 0px;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  color: inherit;
  font-size: 50px;
  font-weight: inherit;
  text-decoration: none;
  text-align: center;
}

h2 {
  color: #fca311;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
}

h3 {
  color: #fca311;
  font-size: 30px;
  font-weight: inherit;
  text-decoration: none;
}

hr {
  height: 4px;
  background: black;
}

form {
  color: #fca311;
}

.subir {
  bottom: 20px;
  right: 20px;
  position: fixed;
  background-color: #fca311;
  border-radius: 10px;
  border: solid #14213d 3px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #14213d;
  font-size: 20px;
  font-weight: inherit;
  text-decoration: none;
}

.subir:hover {
  color: #14213d;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  background-color: #f78432;
}

::-webkit-scrollbar {
  width: 10px;
  background: #14213d;
}

::-webkit-scrollbar-track {
  background: #14213d;
}

::-webkit-scrollbar-thumb {
  background: #fca311;
}

::-webkit-scrollbar-thumb:hover {
  background: #fc7311;
}

/* header */
a {
  color: white;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  color: #fca311;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  transition: 0.5s;
}

.hed-nav {
  margin: 0px;
  padding: 0px;
}
.hed-nav li {
  margin: 0px;
  padding: 0px;
}

.navbar-toggler-icon {
  border-radius: 5px;
  background: #fca311;
}

.navbar-light .navbar-nav .nav-link.active {
  color: white;
}

.navbar-light .navbar-nav .nav-link.active:hover {
  color: #fca311;
}

.main-header {
  display: flex;
  height: 535px;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.navbar-brand img {
  width: 10%;
}

header.container-fluid {
  padding-left: 25px;
}

li {
  margin-bottom: 20px;
}

/* index.html */
.index {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../multimedia/DSCF0019.JPG);
}

.body-quien {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 15% auto;
  padding-top: 150px;
  padding-bottom: 100px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px 100px;
  column-gap: 40px;
  row-gap: 20px;
  grid-template-areas: "img1 quienes" "img1 parafo-quienes";
}

.imagen-de-equipo {
  grid-area: img1;
  height: 300px;
  width: 300px;
  background-image: url(../multimedia/DSCF2085-alcantarilla.JPG);
  background-size: cover;
}

.h3-quienes__index {
  grid-area: quienes;
}
.h3-quienes__index h3 {
  color: #fca311;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.parafo-quienes {
  grid-area: parafo-quienes;
}
.parafo-quienes p {
  font-size: 18px;
  line-height: 2em;
}

.main-header h1 {
  color: white;
  opacity: 100%;
}

.mandanos-mensaje {
  display: flex;
  padding: 20px;
  margin: 0px 100px;
}

.contactos-quienes {
  background: #14213d;
  padding: 40px;
  text-align: center;
  height: 400px;
  width: 400px;
}
.contactos-quienes h2 {
  color: white;
  font-size: 35px;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 50px;
}

.contactos-quienes-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.contactos-quienes-icon i {
  font-size: 75px;
  color: #fca311;
}

.contactos-quienes-numeros {
  color: white;
  text-align: center;
}
.contactos-quienes-numeros p {
  margin: 0%;
}

#carouselExampleCaptions {
  margin-bottom: 100px;
}
#carouselExampleCaptions img {
  height: 500px;
  width: 100%;
  filter: brightness(0.7);
}

form h3 {
  text-transform: uppercase;
}

.mandanos-mensaje {
  display: grid;
  grid-template-columns: 25% 20% 25% 30%;
  margin-bottom: 100px;
  grid-template-areas: "forms forms forms contactos";
}

.form-quienes {
  grid-area: forms;
}

.form-box-in {
  padding-right: 50px;
}
.form-box-in .nom-in input {
  width: 555px;
}
.form-box-in .mail-in input {
  width: 658px;
}
.form-box-in .tel-in input {
  width: 633px;
}
.form-box-in .comp-in input {
  width: 525px;
}
.form-box-in textarea {
  width: 710px;
  resize: none;
  height: 250px;
}
.form-box-in .sub-in {
  margin-bottom: 25px;
  width: 30%;
}
.form-box-in .bor-in {
  margin-bottom: 25px;
  width: 30%;
}

.contactos-quienes {
  grid-area: contactos;
}

a {
  color: #fca311;
}

a:hover {
  color: #fc7311;
}

/* quienes-somos.html */
.quienes-somos {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../multimedia/Kov\ lake.JPG);
}

.img-descripcion {
  margin: 0px 50px;
}

.quienes-img {
  height: 380px;
  width: 100%;
  margin-top: 80px;
  overflow: hidden;
  background-size: cover;
  background-image: url(../multimedia/DSCN0200.JPG);
  background-position: center;
  filter: brightness(0.8);
}

.quienes-descripcion {
  padding: 50px 100px;
}

.que-como {
  display: flex;
  margin: 0px;
  padding: 0px 40px;
  background: #273249;
  color: white;
}

.box {
  padding: 40px;
}

.pq {
  width: 600px;
}

.box h3 {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.nuestros-proyectos {
  margin-top: 50px;
}
.nuestros-proyectos h2 {
  text-align: center;
  margin-bottom: 40px;
}

.np-content {
  display: flex;
  justify-content: center;
  padding: 40px;
  margin: 0px 100px;
}

.img-proyectos {
  background-image: url(../multimedia/DSCF2271-canal.JPG);
  background-size: cover;
  background-position: center;
}

.descripcion-de-proyectos {
  padding-left: 80px;
}

.box h3 {
  justify-content: flex-start;
}

.credentials {
  padding: 0px 40px;
  background: #273249;
  color: white;
  margin: 0px;
  justify-content: space-evenly;
}

/* servicios.html */
.servicios {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../multimedia/DSCN0200.JPG);
}

.titulo-servicios {
  text-align: center;
}

.servicios--img--descp {
  display: flex;
  padding: 20px;
}

.servicios--individuales {
  align-items: center;
  justify-content: center;
  line-height: 30px;
}
.servicios--individuales ul {
  list-style: inherit;
  margin-left: 15px;
}
.servicios--individuales h2 {
  text-align: center;
  margin-top: 50px;
}

.primer-servicios {
  margin-bottom: 50px;
}

.fila-servicios {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.prm {
  margin-bottom: 50px;
  padding-top: 50px;
  background: #273249;
}

.seg {
  margin-bottom: 0px;
  color: black;
}

.servicio--img {
  text-align: center;
}

.todos-servicios {
  margin: 0px;
  color: white;
}
.todos-servicios img {
  height: 20rem;
  width: 100%;
  margin: 50px 0px;
  border: none;
  padding: 0px;
}

/* staff.html */
.staff {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../multimedia/DSCF9256.JPG);
}

.staff-boxes {
  margin: 150px 0px;
}

.david {
  margin-top: 100px;
}

.staff-box__img-silvia, .staff-box__img-david {
  background-image: url(../multimedia/20200729_203050.jpg);
  background-size: cover;
  background-position: center;
  border: solid #071129 5px;
  grid-area: silvia;
  height: 300px;
}

.staff-box__img-david {
  background-image: url(../multimedia/FOTO\ DAVID.jpg);
}

/* contacto.html */
hr.contacto {
  margin: 0px 475px;
}

.contacto-main {
  margin-top: 40px;
}

.forms__form p {
  color: inherit;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}

.forms-y-contactos {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 150px;
}

.forms__contactos {
  background: #14213d;
  padding: 50px 30px;
  text-align: center;
}
.forms__contactos h2 {
  color: white;
  font-size: 45px;
}

.form-box {
  padding-right: 250px;
}
.form-box h2 {
  margin: 30px 0px;
}
.form-box input {
  width: 100%;
  margin-bottom: 10px;
}
.form-box textarea {
  width: 100%;
  resize: none;
  height: 250px;
}
.form-box .sub {
  margin-bottom: 25px;
  width: 30%;
}
.form-box .bor {
  margin-bottom: 25px;
  width: 30%;
}

.forms__contactos-phone-icon {
  display: flex;
  justify-content: center;
  margin: 75px 0px;
}
.forms__contactos-phone-icon i {
  font-size: 110px;
  color: #fca311;
}

.forms__contactos-numeros {
  color: white;
  text-align: center;
  font-size: 20px;
}

.contacto-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: static;
}

/* footer */
.redes a i {
  padding-left: 20px;
}

footer {
  background-color: #071129;
  height: 109px;
  width: 100%;
  position: relative;
  bottom: 0%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.vl {
  border-left: 5px solid #fca311;
  height: 50px;
  border-radius: 10px;
}

.footer__local i {
  color: #fca311;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer li {
  list-style: none;
  line-height: 5px;
  margin: 10px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: #fca311;
}
.footer strong {
  font-weight: 600;
}

.num ul {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.redes ul {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.redes i {
  font-size: 45px;
  color: white;
  letter-spacing: 20px;
}

.redes i:hover {
  color: #fca311;
}

/*MOBILE*/
@media only screen and (max-width: 990px) {
  nav img {
    height: 50px;
    width: auto;
  }
  ul a {
    font-size: 15px;
  }
  .navbar-brand img {
    width: 100%;
  }
  .navbar-nav ul {
    display: flex;
    flex-direction: column;
  }
  /* mobile index */
  .index {
    background-position: center center;
    background-size: cover;
  }
  .body-quien {
    justify-content: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 300px 10% auto;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 0px;
    margin-right: 0px;
    column-gap: 0px;
    grid-template-areas: "img1" "quienes" "parafo-quienes";
  }
  .imagen-de-equipo {
    grid-area: img1;
    background-image: url(../multimedia/DSCF2085-alcantarilla.JPG);
    background-size: cover;
    width: 100%;
  }
  .h3-quienes__index {
    grid-area: quienes;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
    padding: 0% 10%;
  }
  .parafo-quienes {
    grid-area: parafo-quienes;
    padding: 0% 10%;
  }
  .parafo-quienes p {
    font-size: 16px;
    line-height: normal;
  }
  .main-header h1 {
    color: white;
    opacity: 100%;
  }
  .carousel {
    padding: 0%;
    height: 400px;
  }
  #carouselExampleCaptions {
    margin-bottom: 0px;
  }
  #carouselExampleCaptions img {
    height: 400px;
    width: 100%;
  }
  .mandanos-mensaje {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 100px;
    row-gap: 5rem;
    padding: 0%;
    margin: 0px 0px;
    text-align: center;
    grid-template-areas: "forms" "contactos";
  }
  .mandanos-mensaje h3 {
    margin-top: 100px;
    margin-bottom: 2rem;
  }
  .inner-form {
    text-align: start;
  }
  .form-quienes {
    grid-area: forms;
  }
  .form-box-in {
    padding: 0px 10px;
  }
  .form-box-in .nom-in input {
    width: 100%;
  }
  .form-box-in .mail-in input {
    width: 100%;
  }
  .form-box-in .tel-in input {
    width: 100%;
  }
  .form-box-in .comp-in input {
    width: 100%;
  }
  .form-box-in textarea {
    width: 100%;
    resize: none;
    height: 250px;
  }
  .form-box-in .subor-in {
    margin-bottom: 25px;
    width: 40%;
  }
  .form-box-in .nom-in {
    text-align: start;
  }
  .form-box-in .mail-in {
    text-align: start;
  }
  .form-box-in .tel-in {
    text-align: start;
  }
  .form-box-in .comp-in {
    text-align: start;
  }
  .form-box-in .mensaje-in {
    text-align: start;
  }
  .contactos-quienes {
    grid-area: contactos;
    width: 100%;
  }
  /* mobile quienes somos */
  .quienes-somos {
    background-position: center center;
    background-size: cover;
  }
  .np-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    margin-right: 100px;
    margin-left: 100px;
  }
  .img-proyectos {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .descripcion-de-proyectos {
    padding: 0px;
  }
  .img-descripcion {
    margin: 0%;
  }
  .que-como {
    padding: 0%;
  }
  .quienes-descripcion {
    padding: 50px 10%;
  }
  .box {
    padding: 10%;
  }
  .credentials {
    padding: 0px;
    justify-content: start;
  }
  /* mobile staff */
  .staff {
    background-position: center center;
    background-size: cover;
  }
  .staff-boxes {
    margin-top: 100px;
    margin-bottom: 150px;
  }
  .staff-box-text-1 {
    grid-area: descripcion1;
  }
  .staff-box-text-2 {
    grid-area: descripcion2;
  }
  .staff-box__img-silvia, .staff-box__img-david {
    background-image: url(../multimedia/20200729_203050.jpg);
    background-size: cover;
    background-position: center;
    border: solid #071129 5px;
    margin-bottom: 50px;
    width: 50%;
  }
  .staff-box__img-david {
    background-image: url(../multimedia/FOTO\ DAVID.jpg);
  }
  .silvia, .david {
    justify-content: center;
    margin: 0%;
    padding: 0%;
  }
  .david {
    margin-top: 50px;
  }
  /* servicios mobile*/
  .servicios {
    background-position: center center;
    background-size: cover;
  }
  .todos-servicios {
    margin-bottom: 100px;
    margin-top: 0px;
    color: white;
  }
  .todos-servicios img {
    height: auto;
    width: 100%;
    margin: 50px 0px;
    border: none;
    padding: 0px;
  }
  .hidrogeologia {
    background: white;
    color: black;
  }
  .hidraulica {
    background-color: #273249;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 50px;
  }
  /* contactos mobile */
  .form-box .nombre {
    text-align: start;
  }
  .form-box .email {
    text-align: start;
  }
  .form-box .telephone {
    text-align: start;
  }
  .form-box .compania {
    text-align: start;
  }
  .form-box .mensaje {
    text-align: start;
  }
  .form-box h2 {
    font-size: 1.7rem;
  }
  .forms__form p {
    font-size: 17px;
  }
  .forms-y-contactos {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .contacto-main {
    text-align: center;
  }
  .form-box {
    margin-bottom: 50px;
  }
  .form-p {
    margin-bottom: 50px;
  }
  .contacto-box {
    padding: 0px;
  }
  .form-box {
    padding-right: 0px;
  }
  .form-box textarea {
    width: 100%;
    resize: none;
    height: 250px;
  }
  .form-box .sub {
    width: 40%;
  }
  .form-box .bor {
    width: 40%;
  }
  /* mobile footer */
  footer {
    height: 180px;
    flex-direction: column;
  }
  footer .num {
    display: none;
  }
  footer .footer {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
  }
  .redes i {
    font-size: 50px;
    color: white;
    letter-spacing: 10px;
  }
  .redes a i {
    padding-left: 3px;
    padding-right: 3px;
  }
  .vl {
    display: none;
  }
  .footer__local {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
  }
  .footer__local i {
    font-size: 20px;
  }
}
/*SM moblie*/
@media only screen and (max-width: 400px) {
  /*SM mobile contacts*/
  .forms__contactos h2 {
    font-size: 30px;
  }
}

/*# sourceMappingURL=estilo.css.map */
